{{ define "title" }}
  {{ .Title }}&nbsp;|&nbsp;{{ .Site.Params.abbreviation }}
{{ end }}

{{ define "main" }}
  <section class="position-relative bg-secondary pt-5">
    <div class="container position-relative zindex-2 pt-5 mb-4 mb-lg-5">
      <!-- Breadcrumb -->
      {{- partial "site-breadcrumb.html" . -}}


      <div class="row">
        <!-- Contact links -->
        <div class="col-xl-4 col-lg-5 pb-4 pb-sm-5 mb-2 mb-sm-0">
          <div class="pe-lg-4 pe-xl-0">
            <h1 class="pb-3 pb-md-4 mb-lg-5">質問・お問い合わせ</h1>
            <div class="d-flex align-items-start pb-3 mb-sm-1 mb-md-3">
              <div class="bg-light text-primary rounded-circle flex-shrink-0 fs-3 lh-1 p-3">
                <i class="bx bx-envelope"></i>
              </div>
              <div class="ps-3 ps-sm-4">
                <h2 class="h4 pb-1 mb-2">メール送信</h2>
                <p class="mb-2">メールにて質問・お問い合わせができます。</p>
                <a href="mailto:{{ .Site.Params.email | safeURL }}" class="lead fw-normal text-decoration"
                  >{{ .Site.Params.email | safeURL }}</a
                >
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="bg-light text-primary rounded-circle flex-shrink-0 fs-3 lh-1 p-3">
                <i class="bx bx-chat"></i>
              </div>
              <div class="ps-3 ps-sm-4">
                <h2 class="h4 pb-1 mb-2">SNSメッセージ</h2>
                <p class="mb-0">DiscordとTwitterのDMでも質問・お問い合わせを受け付けています。</p>
                <div class="d-flex pt-3">
                  <a
                    href="{{ .Site.Params.socials.discord.url | safeURL }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-icon btn-secondary btn-discord mx-2"
                  >
                    <i class="bx bxl-discord-alt"></i>
                  </a>
                  <a
                    href="{{ .Site.Params.socials.twitter.url | safeURL }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-icon btn-secondary btn-twitter mx-2"
                  >
                    <i class="bx bxl-twitter"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Contact form -->
        {{ if .Params.form.enable }}
          <div class="col-xl-6 col-lg-7 offset-xl-2">
            <div class="card border-light shadow-lg py-3 p-sm-4 p-md-5" data-aos="fade-up" data-aos-delay="200">
              <div class="bg-dark position-absolute top-0 start-0 w-100 h-100 rounded-3 d-none d-dark-mode-block"></div>
              <div class="card-body position-relative zindex-2">
                <h2 class="card-title mb-4">お問い合わせフォーム</h2>

                <!-- form -->
                <form
                  id="contact-form"
                  class="row g-4 needs-validation-spinner"
                  novalidate
                  action="{{ .Params.form.action | safeURL }}"
                  data-botpoison-public-key="{{ .Params.form.botpoison }}"
                  method="POST"
                >
                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        name="name"
                        type="text"
                        class="form-control form-control-lg"
                        id="fl-text"
                        required
                        placeholder="お名前"
                      />
                      <label for="fl-text">お名前</label>
                      <div class="invalid-feedback">フルネームを入力してください</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        name="email"
                        type="email"
                        class="form-control form-control-lg"
                        id="email"
                        required
                        placeholder="sample@gmail.com"
                      />
                      <label for="email">メールアドレス</label>
                      <div class="invalid-feedback">有効なメールアドレスを入力してください</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <textarea
                        name="message"
                        class="form-control"
                        id="fl-textarea"
                        style="height: 15rem"
                        required
                        placeholder="お問い合わせ内容"
                      ></textarea>
                      <label for="fl-textarea">お問い合わせ内容</label>
                      <div class="invalid-feedback">お問い合わせ内容を入力してください。</div>
                    </div>
                  </div>
                  <div class="col-12 pt-2 pt-sm-3">
                    <button type="submit" class="btn btn-lg btn-primary w-100 w-sm-auto">送信</button>
                  </div>
                  <!-- Setting of Redirecting to thanks page  -->
                  <input type="hidden" name="_redirect" value="{{ absURL "/contact-thanks" }}" />
                </form>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    <div class="position-absolute bottom-0 start-0 w-100 bg-light" style="height: 14rem"></div>
  </section>
{{ end }}

{{/* Define Scripts for forms */}}
{{ define "scripts" }}
  <!-- Spam protection using Botpoison (https://botpoison.com) -->
  <script src="https://unpkg.com/@botpoison/browser" async></script>
{{ end }}
