{{ define "title" }}
  {{ .Title }}&nbsp;|&nbsp;{{ .Site.Params.abbreviation }}
{{ end }}

{{ define "main" }}
  <section class="position-relative pt-5">
    <div class="container position-relative pt-5 pb-4 pb-lg-5">
      <!-- Breadcrumb -->
      {{ partial "site-breadcrumb.html" . -}}

      {{ .Content }}
      {{ range $index, $book := .Params.books }}
        <div class="container {{ if gt $index 0 }}mt-5{{ end }}">
          <div class="g-slide">
            <iframe
              data-src="{{ $book.src | safeURL }}"
              frameborder="0"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"
              width="1272"
              height="701"
            ></iframe>
          </div>

          <p>
            {{ $book.title }}の編集は
            <a href="{{ $book.link | safeURL }}" target="_blank" rel="noreferrer noopener">こちら </a>
            から
          </p>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
