<footer class="footer dark-mode bg-dark pt-5 pb-4 pb-lg-5">
  <div class="container text-center pt-lg-3">
    <div class="navbar-brand justify-content-center text-dark mb-2 mb-lg-4">
      <img src="/img/logo.svg" class="me-2" width="60" alt="{{ .Site.Title }}" />
      <span class="fs-4">{{ .Site.Title }}</span>
    </div>
    {{ if eq .Layout "home" }}
      <ul class="nav justify-content-center pt-3 pb-4 pb-lg-5">
        <li class="nav-item"><a href="/#" class="nav-link">Home</a></li>
        <li class="nav-item">
          <a href="#teachers" class="nav-link">Teachers</a>
        </li>
        {{ if .Params.schedule.enable }}
          <li class="nav-item">
            <a href="#schedule" class="nav-link">Schedule</a>
          </li>
        {{ end }}
        <li class="nav-item">
          <a href="#sponsors" class="nav-link">Sponsors</a>
        </li>
        <li class="nav-item">
          <a href="#application" class="nav-link">Application</a>
        </li>
      </ul>
    {{ end }}
    <div class="d-flex flex-column flex-sm-row justify-content-center">
      <a href="/contact" class="btn btn-success shadow-success btn-lg mb-3 {{ if eq .Kind "home" }}me-sm-4{{ end }}"
        >お問い合わせ</a
      >
      {{ if eq .Layout "home" }}
        <a
          href="{{ .Params.calendar }}"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-outline-light btn-lg mb-3"
        >
          <i class="bx bx-calendar-check fs-xl me-2 ms-n1"></i>
          Add to calendar
        </a>
      {{ end }}
    </div>
    <div class="d-flex justify-content-center pt-4 mt-lg-3">
      {{ range .Site.Params.social }}
        <a
          href="{{ .url | safeURL }}"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-icon btn-secondary btn-{{ .name }} mx-2"
        >
          <i class="bx {{ .icon }}"></i>
        </a>
      {{ end }}
    </div>
    <p class="nav d-block fs-sm text-center pt-5 mt-lg-4 mb-0">
      <span class="text-light opacity-50"
        >Contents &copy; {{ .Site.Params.author | safeHTML }} | Powered by
        <a class="nav-link d-inline-block p-0" href="https://createx.studio/" target="_blank" rel="noopener"
          >Createx Studio</a
        >
      </span>
    </p>
  </div>
</footer>
