<!-- Navbar -->
<!-- Remove "fixed-top" class to make navigation bar scrollable with the page -->
<header class="header navbar navbar-expand-lg bg-light shadow-sm fixed-top">
  <div class="container px-3">
    <a href="/index.html" class="navbar-brand pe-3">
      <img src="/img/logo.svg" width="47" height="47" alt="{{ .Site.Params.abbreviation }}ロゴ" />
      {{ .Site.Title }}
    </a>
    <div id="navbarNav" class="offcanvas offcanvas-end">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
            <div class="dropdown-menu">
              <div class="d-lg-flex pt-lg-3">
                <div class="mega-dropdown-column">
                  <h6 class="px-3 mb-2">概要</h6>
                  <ul class="list-unstyled mb-3">
                    <li>
                      <a href="/about" class="dropdown-item py-1">若手夏の学校とは</a>
                    </li>
                    <li>
                      <a
                        href="https://www.jspf.or.jp/wakate/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="dropdown-item py-1"
                        >若手フォーラムHP
                        <i class="bx bx-link-external"></i>
                      </a>
                    </li>
                  </ul>
                  <h6 class="px-3 mb-2">場所</h6>
                  <ul class="list-unstyled mb-3">
                    <li>
                      <a href="/#venue" class="dropdown-item py-1">会場</a>
                    </li>
                    <li>
                      <a href="/#venue" class="dropdown-item py-1">エクスカージョン</a>
                    </li>
                  </ul>
                </div>
                <div class="mega-dropdown-column">
                  <h6 class="px-3 mb-2">参加申込み</h6>
                  <ul class="list-unstyled mb-3">
                    <li>
                      <a href="/#application" class="dropdown-item py-1">募集概要</a>
                    </li>
                  </ul>
                  <h6 class="px-3 mb-2">連絡</h6>
                  <ul class="list-unstyled mb-3">
                    <li>
                      <a href="/contact" class="dropdown-item py-1"> お問い合わせ</a>
                    </li>
                    <li>
                      <a href="/q-and-a" class="dropdown-item py-1"> FAQ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Archives</a>
            <ul class="dropdown-menu">
              <li>
                <a href="/picture-book" class="dropdown-item">装置・コード図鑑</a>
              </li>
              <li>
                <a href="/video" class="dropdown-item">講演動画</a>
              </li>
              <li>
                <a href="/forepast" class="dropdown-item">夏学の歴史</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
      <input id="theme-mode" type="checkbox" class="form-check-input" checked />
      <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
      <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
    </div>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>
