<section id="Discord" class="position-relative bg-gradient-primary-translucent py-5 mt-n3 mt-lg-0">
  <div class="container py-2 py-md-4 py-lg-5">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center mb-md-4">
      <h2 class="h1 text-center me-3">Join our</h2>
      <img src="/img/discord-logo-blue.svg" width="250" height="47" alt="Discord" />
      <h2 class="h1 text-center ms-3">group!</h2>
    </div>
    <!-- 実際のDiscord Windowの画像 -->
    <div class="row">
      <div class="col-md-7 mb-3">
        <img
          src="/img/PFYSS_Discord.webp"
          width="800"
          ,
          height="617"
          alt="PFYSS Discord window"
          data-aos="fade-up"
          data-aos-delay="400"
        />
      </div>
      <div class="col-md-5" data-aos="fade-up" data-aos-delay="500">
        <p class="fs-lg mb-4">
          Discordは、ゲーマー向けによく用いられているコミュニケーションツールですが、
          夏の学校では、参加者同士の交流の場としても利用します。 また、講義の資料・動画などの配布も行います。
          夏の学校参加者ではなくても、Discordに参加して交流を深めましょう!
        </p>
        <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start">
          <a
            href="{{ .Site.Params.socials.discord.url | safeURL }}"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary shadow-primary btn-lg me-sm-4 mb-3"
            >Join Discord
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
